<html ng-app="memoriesApp">
<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <title>Memories nothing more than Memories</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<div class="container">
  <div ng-controller="HomeController">
    <h1 class="well"> When I was a Kid...</h1>
    <form>
        <textarea ng-model="memories.then" class="form-control"></textarea>
        <br>
        <h2>But Now...</h2>
        <br>

        <textarea class="form-control" ng-model="memories.now"></textarea>

        <h2>I was born in <input type="text" ng-model="memories.year"></h2>
        <br>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="newMemory()">
        Submit</button>
    </form>
    <table class="table table-hover">
      <tr ng-repeat="memory in memories"></td>
        <td>{{memory.old_days}} </td>
        <td>{{memory.these_days}} </td>
        <td>{{memory.year}} </td>
      </ul>
    </table>
  </div>
</div>



</body>
</html>